html, body {
  background:#000505;
  color:#00CCCC;
}

.in {
  border: 1px solid #00ffff;
}

.settings {
  border: 1px solid #00ffff;
}

.menu a {
    color: #fff;
}
.menu a:hover {
    background: #ff0000 none repeat scroll 0 0;
}
.menu li .menu__drop li a {
    border-top: 1px solid #00ffff;
}

md-slider .md-default-theme .md-thumb:after, md-slider .md-thumb:after {
    border-color: rgba(0, 255, 255, 1);
    background-color: rgba(0, 255, 255, 1);
