html, body {
  background:#000505;
  color:#00CCCC;
}
table {
   border: 1px solid #00CCCC;
}
.menu a {
    color: #fff;
}
.menu a:hover {
    background: #ff0000 none repeat scroll 0 0;
}
.menu li .menu__drop li a {
    border-top: 1px solid #00ffff;
