<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><-Game of Life-></title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="angular-material.min.css" rel="stylesheet">
  <link href="css/main.css"             rel="stylesheet">
  <link href="css/chaos.css"            rel="stylesheet" id="color">
  <!-- Modules -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <!--<script src="angular.min.js"></script>-->
  <script src="app.js"></script>
  <script src="angular-animate.min.js"></script>
  <script src="angular-aria.min.js"></script>
  <script src="angular-material.min.js"></script>
  <script src="angular-messages.min.js"></script>
  <!-- Controllers -->
  <script src="controllers/MainController.js"></script>
  <script src="controllers/SelectController.js"></script>
  <script src="controllers/DialogController.js"></script>

  </script>
  <!-- Filters -->
  <script src="filters/blackSquare.js"></script>
  <script src="filters/whiteSquare.js"></script>
  <script src="filters/test.js"></script>
</head>
<body ng-app="myApp" ng-controller='MainController'>
  <div class="outer">
    <div ng-show ="!showEditor" class="inner">
      <table>
        <tr class="in">
          <td>
            <table class="tableInTable">
              <tr ng-repeat="(rowIndex, row) in board" class="row">
                <td ng-repeat="cell in row track by $index" class="cell">{{cell | blackSquare}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="ph"></tr>
      </table>
    </div>
    <div class="inner" ng-show ="showEditor">
      <table>
        <tr class="in">
          <td>
            <table class="tableInTable">
              <tr ng-repeat="(rowIndex, row) in board" class="row">
                <td ng-repeat="cell in row track by $index">
                  <div ng-click="swap(rowIndex, $index)">{{cell | whiteSquare}}</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="settings">
          <td ng-controller="SelectController">
            <md-input-container style="margin-right: 10px;">
              <label>Style</label>
              <md-select ng-model="selectedColor" ng-change="setColor()">
                <md-option ng-repeat="style in colors" ng-value="style.src">{{style.name}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container style="margin-right: 10px;">
              <label>Pattern</label>
              <md-select ng-model="selectedForm" ng-change="initBoard(size, size, selectedForm.matrix, selectedForm.yShift, selectedForm.xShift)">
                <md-option  ng-repeat="form in characters" ng-value="form">{{form.name}}</md-option>
              </md-select>
            </md-input-container>
            <md-content style="margin: 16px; padding:16px">
              <md-slider aria-label="invertd slider" md-invert="" ng-model="delay.value" min="50" max="3050" ng-change=""></md-slider>
            </md-content>
          </td>
      </table>
    </div>
  </div>
    <div class="side"  ng-mouseenter="showDropMenu = true" ng-mouseleave="showDropMenu = false">
        <ul class="menu">
          <li class="menu__list"><a ng-href="#"><img src="icons/list.png"  border="0" alt=" " width="100%"></a>
            <ul class="menu__drop" ng-show="showDropMenu">
              <li><a ng-click="up()" ng-href="#"><img src="icons/move-to-next.png" alt=" " width="100%" style="vertical-align:middle; transform: rotate(-90deg);"></a></li>
              <li><a ng-click="pause_and_play()" ng-href="#"><img ng-src="{{ pause_or_play_icon }}" alt=" " width="100%" style="vertical-align:middle;"></a></li>
              <li><a ng-click="down()" ng-href="#"><img src="icons/move-to-next.png" alt=" " width="100%" style="vertical-align:middle; transform: rotate(90deg);"></a></li>
              <li><a ng-click="settings()" ng-href="#"><img src="icons/mechanical-gears.png" alt=" " width="100%" style="vertical-align:middle;"></a></li>
              <li><a ng-controller="DialogController" ng-click="showInfo($event)" ng-href="#"><img src="icons/information.png" alt=" " width="100%" style="vertical-align:middle;"></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="preloader" ng-init="preloaderShow = true" ng-show="preloaderShow">

      </div>
    <script>//preloaderShow = false</script>
</body>
</html>
